:root {
    --msp-blur: 4px;
}

.vQ0w7, div._ak8k, div._ak8q {
    filter: blur(var(--msp-blur)) grayscale(1);
    transition-delay: 0s;
}

.vQ0w7:hover, div._ak8k:hover, div._ak8q:hover {
    filter: blur(0) grayscale(0);
    transition-delay: 0.3s;
}


/* System messages */

[data-testid = "system-message"] {
    background: rgba(0, 198, 162, 0.06) !important;
    border-radius: 12px !important;
    color: var(--wa-text-secondary) !important;
    font-size: 12px !important;
}

